.nav {
  width: 100%;
  box-shadow: 0 0 8px #b6b6b6;
}

.nav > img {
  width: 200px;
}


.dog-container{
  display: flex;
  width: 100%;
  top: 150px;
  overflow: visible;
  position: absolute;
  white-space: nowrap;
  animation: dog-container 30s linear infinite;
}

.dogs{
  height: 300px;
  border-radius: 20px;
  margin: 16px;
}



.dog-container2 {
  animation-delay: 20s;
}

@keyframes dog-container {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
